@charset "utf-8";
@import "normalize";


:root {
  padding: 2em;
  font-family: helvetica;
  font-weight: 300;
}

body {
  background: #fff;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

.container {
  max-width: 1200px;
  margin: auto;
}
header {
  padding: 0 1em;
}

figure {
  padding: 0;
  margin: 0;

  figcaption {
    visibility: hidden;
  }
  &:hover figcaption {
    visibility: visible;
  }
}



input[type="text"] {
    margin: 1em 1em 3em;
  width: calc(100% - 2em);
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 4px 23px rgba(0,0,0, 0.2);
}

.images,
.controls{
  padding: 16px;
}
.img {
  width: 60px;
  height: 60px;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
  backface-visibility: none !important;
  animation: flipInX 0.6s ease;
  box-shadow: 0 4px 23px rgba(0,0,0, 0.2);
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;

  &.space {
     opacity: 0;
     visibility: hidden;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  padding: 2em 0;

  a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
}

@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    transform: perspective(400px);
  }
}

