---
title: Logorator
---

<div class="container">
  <header>
    <figure>
      <div class="img" style="animation-delay: 0ms; background: url('http://res.cloudinary.com/cloudyvj/image/upload/w_120,c_scale,q_auto:eco,dpr_auto/v1466799358/l_1.png') center center / 80% no-repeat;"></div><div class="img" style="animation-delay: 50ms; background: url('http://res.cloudinary.com/cloudyvj/image/upload/w_120,c_scale,q_auto:eco,dpr_auto/v1466799358/o_3.png') center center / 80% no-repeat;"></div><div class="img" style="animation-delay: 100ms; background: url('http://res.cloudinary.com/cloudyvj/image/upload/w_120,c_scale,q_auto:eco,dpr_auto/v1466799358/g_1.png') center center / 80% no-repeat;"></div><div class="img" style="animation-delay: 150ms; background: url('http://res.cloudinary.com/cloudyvj/image/upload/w_120,c_scale,q_auto:eco,dpr_auto/v1466799358/o_2.png') center center / 80% no-repeat;"></div><div class="img" style="animation-delay: 200ms; background: url('http://res.cloudinary.com/cloudyvj/image/upload/w_120,c_scale,q_auto:eco,dpr_auto/v1466799358/r_4.png') center center / 80% no-repeat;"></div><div class="img" style="animation-delay: 250ms; background: url('http://res.cloudinary.com/cloudyvj/image/upload/w_120,c_scale,q_auto:eco,dpr_auto/v1466799358/a_1.png') center center / 80% no-repeat;"></div><div class="img" style="animation-delay: 300ms; background: url('http://res.cloudinary.com/cloudyvj/image/upload/w_120,c_scale,q_auto:eco,dpr_auto/v1466799358/t_2.png') center center / 80% no-repeat;"></div><div class="img" style="animation-delay: 350ms; background: url('http://res.cloudinary.com/cloudyvj/image/upload/w_120,c_scale,q_auto:eco,dpr_auto/v1466799358/o_1.png') center center / 80% no-repeat;"></div><div class="img" style="animation-delay: 400ms; background: url('http://res.cloudinary.com/cloudyvj/image/upload/w_120,c_scale,q_auto:eco,dpr_auto/v1466799358/r_3.png') center center / 80% no-repeat;"></div>
      <figcaption><h1>Logorator</h1></figcaption>
    </figure>
    <h3>A text generator based on companies logos</h3>
  </header>

  <input type="text" placeholder="Yo dawg, write something down here.." id="input"/>

  <div class="images" id="result"></div>

  <footer>
    <div class="share">
      <a href="https://twitter.com/intent/tweet?text=Logorator%20a%20text%20generator%20based%20on%20companies%20logos%20http%3A%2F%2Fbullg.it%2Flogorator%2F+via+%40bullgit"><img src="images/twitter-icon.svg" alt=""></a>
    </div>
    <a href="https://github.com/bullgit/logorator">Github</a> - <a href="http://twitter.com/@bullgit">@bullgit</a><br/>
    <small>Page built using <a href="http://cloudinary.com">Cloudinary</a>, <a href="http://middlemanapp.com">Middleman</a></small>
  </footer>
</div>